<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.quizapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Quizapp">
        <activity android:name=".FinalScoreActivity"></activity>
        <activity android:name=".Test_WorksheetListActivity" />
        <activity
            android:name=".Creator_GradeRankingQuestionsActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Creator_GradeMatchingQuestionsActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Creator_GradeFRQuestionsActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Creator_GradeMCQuestionsActivity"
            android:parentActivityName=".Test_WorksheetListActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Creator_GradeTestListActivity"
            android:parentActivityName=".Creator_CategoryActivity" />
        <activity
            android:name=".Creator_RankingQuestionsListActivity"
            android:parentActivityName=".Creator_CreateQuestionsActivity" />
        <activity
            android:name=".Creator_MatchingQuestionsListActivity"
            android:parentActivityName=".Creator_CreateQuestionsActivity" />
        <activity
            android:name=".Creator_FRQuestionsListActivity"
            android:parentActivityName=".Creator_CreateQuestionsActivity" />
        <activity
            android:name=".Creator_MCQuestionsListActivity"
            android:parentActivityName=".Creator_CreateQuestionsActivity" />
        <activity android:name=".UserProfileActivity" />
        <activity
            android:name=".Creator_CreateRankingQuestionActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Creator_CreateMatchingQuestionActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Creator_CreateFRQuestionActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Creator_CreateMCQuestionActivity"
            android:parentActivityName=".Creator_MCQuestionsListActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Creator_CreateQuestionsActivity"
            android:parentActivityName=".Creator_TestListActivity" />
        <activity
            android:name=".Creator_TestListActivity"
            android:parentActivityName=".Creator_CategoryActivity" />
        <activity
            android:name=".Creator_CategoryActivity"
            android:parentActivityName=".UserTypeActivity" />
        <activity
            android:name=".UserTypeActivity"
            android:parentActivityName=".UserProfileActivity" />
        <activity android:name=".SubmissionActivity" />
        <activity android:name=".RankingQuestionActivity" />
        <activity android:name=".MatchingQurestionActivity" />
        <activity
            android:name=".FRQuestionActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".MCQuestionActivity2" />
        <activity
            android:name=".TestListActivity"
            android:parentActivityName=".CategoryActivity" />
        <activity
            android:name=".CategoryActivity"
            android:parentActivityName=".UserTypeActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>